
<h2 id="page-heading">
    <span>Product Details Page</span>
</h2>

<!-- <table class="table table-striped" aria-describedby="page-heading">
    <thead>
        <tr>
            <th scope="col"><span>Name</span></th>
            <th scope="col"><span>Price</span></th>
            <th scope="col"><span>Quantity</span></th>
            <th scope="col"><span>Description</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.description}}</td>
        </tr>
    </tbody>
</table> -->